@{
    ViewData["Title"] = "Product Details";
    var product = ViewBag.ProductToGet as Product;
    var recommendedProducts = ViewBag.RecommendedProducts as List<Product>;
}
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BrickListViewModel

<div class="container">
    <row class="row">
        <div class="col">
            <br/>
            <h2>@product.Name</h2>
            <div class="card card-style" style="width: 500px;">
                <img class="card-img-top card-im-per" src=@product.ImgLink alt="Image">
                <div>
                    <h4 class="card-text">@product.Name</h4>
                    <p class="card-text">Year: @product.Year</p>
                    <p class="card-text">Number of Parts: @product.NumParts</p>
                    <p class="card-text">Price: $@product.Price</p>
                    <p class="card-text">Category: @product.Category</p>
                    <p class="card-text">Description: @product.Description</p>
                </div>
            </div>
        </div>
        <div class="col">
            <br/>
            <h2>If you like this, you'll love these!</h2>

            <div class="row">
                @foreach (var recProduct in recommendedProducts as List<Product>)
                {                

                    <div class="card  col-3 card-style" style="height: 22rem; width: 12rem;">
                        <a href="@Url.Action("ProductDetails", "Home", new { id = recProduct.ProductId })" class="card-link">
                            <div>
                                <img class="card-img-top" style="height: 6rem;" src="@recProduct.ImgLink" alt="@recProduct.Name">
                                <h4 class="card-title">@recProduct.Name</h4>
                                <p class="card-text">@recProduct.Category</p>
                                <h4 class="card-text">$@recProduct.Price</h4>
                                <button class="btn-primary-cart" type="submit">Add to Cart.</button>
                            </div>
                        </a>
                    </div>

                }
            </div>
        </div>

    </row>

</div>






