@model CustomerListViewModel

<table class="table table-striped">
    <thead class="fw-bold table-dark text-center">
        <tr>
            <td>Customer ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Birth Date</td>
            <td>Country of Residence</td>
            <td>Gender</td>
            <td>Age</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    @foreach (var customer in Model.Customers)
        {
            <tbody class="table-group-divider">
            <tr>
                <td>@customer.CustomerId</td>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.BirthDate</td>
                <td>@customer.CountryOfResidence</td>
                <td>@customer.Gender</td>
                <td>@customer.Age</td>

                
                <td><a class="btn-primary-light-blue" asp-controller="Admin" asp-action="CEdit" asp-route-id="@customer.CustomerId">Edit</a></td>
                <td><a class="btn-primary-alert" asp-controller="Admin" asp-action="CDelete" asp-route-id="@customer.CustomerId">Delete</a></td>
            </tr>
            </tbody>
        }
</table>
<div class="text-center">
    <div page-model="@Model.PaginationInfo" page-action="CustomerInfo" page-classes-enabled="true" page-class="btn" 
         page-class-normal="btn-outline-dark" page-class-selected="btn" class="btn-group pull-right m-1"></div>
</div>
