@{
    Layout = "_Layout";
}
@model Order

<h4>Looking at order @Model.TransactionId</h4>

<div class="row">
    <div class="card">
        <div class="card-header">
            Transaction ID: @Model.TransactionId
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">@Model.Amount</li>
                <li class="list-group-item">@Model.Bank</li>
                <li class="list-group-item">@Model.Date</li>
                <li class="list-group-item">Fraud: @Model.Fraud</li>
                <li class="list-group-item">@Model.CustomerId</li>
                <li class="list-group-item">@Model.EntryMode</li>
                <li class="list-group-item">@Model.ShippingAddress</li>
                <li class="list-group-item">@Model.DayOfWeek</li>
                <li class="list-group-item">@Model.TypeOfCard</li>
                <li class="list-group-item">@Model.TypeOfTransaction</li>
            </ul>
        </div>
    </div>
</div>

<a class="btn btn-outline-primary">Approve</a>
<a class="btn btn-outline-danger">Deny</a>