@model IEnumerable<BrickWells.Models.FraudPrediction>

@{
    ViewData["Title"] = "Predictions";

    var classTypeDict = new Dictionary<int, string>
{
        { 0, "Not Fraud" },
        { 1, "Fruad" }
    };
}

<table class="table table-success table-striped">
<thead class="fw-bold table-light text-center">
<tr>
    <td>Transaction ID</td>
    <td>Customer ID</td>
    <td>Date </td>
    <td>Day of The Week</td>
    <td>Time</td>
    <td>Entry Mode</td>
    <td>Amount</td>
    <td>Type of Transaction</td>
    <td>Country of Transaction</td>
    <td>Shipping Address</td>
    <td>Bank</td>
    <td>Type of Card</td>
    <td>Fraud</td>
    <td class="prediction-cell">Prediction</td>
</tr>
</thead>
@foreach (var order in Model)
{
    <tbody class="table-group-divider">
    <tr>
        <td>@order.Order.TransactionId</td>
        <td>@order.Order.CustomerId</td>
        <td>@order.Order.Date</td>
        <td>@order.Order,DayOfWeek</td>
        <td>@order.Order.Time</td>
        <td>@order.Order.EntryMode</td>
        <td>@order.Order.Amount</td>
        <td>@order.Order.TypeOfTransaction</td>
        <td>@order.Order.CountryOfTransaction</td>
        <td>@order.Order.ShippingAddress</td>
        <td>@order.Order.Bank</td>
        <td>@order.Order.TypeOfCard</td>
        <td>@order.Order.Fraud</td>
        <td class="prediction-cell">@order.Prediction</td>
    </tr>
    </tbody>
}
</table>