@{
    ViewData["Title"] = "Product Details";
    Layout = "_Layout";
}
@model Product 


<div class="row">
<div class="col-6">
    <div class="container-lg">
        <div class="card">
            <img class="card-img-top card-im-per" style="height: 10rem;" src=@Model.ImgLink alt="Image">
            <div>
                <h4 class="card-text">@Model.Name</h4>
                <p class="card-text">Year: @Model.Year</p>
                <p class="card-text">Number of Parts: @Model.NumParts</p>
                <p class="card-text">Price: $@Model.Price</p>
                <p class="card-text">Category: @Model.Category</p>
            </div>
        </div>
    </div>
</div>
<div class="col-6">
    <img src="@Model.ImgLink" alt="@Model.Name" class="img-fluid">
    
    <p>@Model.Description</p>
</div>
</div>

<a class="btn btn-info" asp-controller="Admin" asp-action="PEdit" asp-route-id="@Model.ProductId">Edit</a>
<a class="btn btn-danger" asp-controller="Admin" asp-action="PDelete" asp-route-id="@Model.ProductId">Delete</a>




