@model ProductListViewModel


<table class="table table-striped">
    <thead class="fw-bold table-dark text-center">
    <tr>
        <td>Product ID</td>
        <td>Name</td>
        <td>Year</td>
        <td>Number of Parts</td>
        <td>Price</td>
        @* <td>Link to Image</td> *@
        @* <td>Primary Color</td> *@
        @* <td>Secondary Color</td> *@
        @* <td>Description</td> *@
        <td>Category</td>
        <td>Edit</td>
        @* <td>Delete</td> *@
    </tr>
    </thead>
    @foreach (var prod in Model.Products)
    {
        <tbody class="table-group-divider">
        <tr>
            <td>@prod.ProductId</td>
            <td>@prod.Name</td>
            <td>@prod.Year</td>
            <td>@prod.NumParts</td>
            <td>@prod.Price</td>
            @* <td>@prod.ImgLink</td> *@
            @* <td>@prod.PrimaryColor</td> *@
            @* <td>@prod.SecondaryColor</td> *@
            @* <td>@prod.Description</td> *@
            <td>@prod.Category</td>
            
            <td><a class="btn-primary-light-blue" asp-controller="Admin" asp-action="ProductDetails" asp-route-id="@prod.ProductId">Details</a></td>
            @* <td><a class="btn btn-danger" asp-controller="Admin" asp-action="PDelete" asp-route-id="@prod.ProductId">Delete</a></td> *@
        </tr>
        </tbody>
    }
</table>
<div class="text-center">
    <div page-model="@Model.PaginationInfo" page-action="ProductList" page-classes-enabled="true" page-class="btn" 
         page-class-normal="btn-outline-dark" page-class-selected="btn" class="btn-group pull-right m-1"></div>
</div>
