@{
    ViewData["Title"] = "Product Details";
    Layout = "_Layout";
}
@model Product 

<div class="container">
    <div class="row">
        <div class="col">
            <br/>
            <h2>@Model.Name</h2>
            <div class="card card-style" style="width: 500px;">
                <img class="card-img-top card-im-per" src=@Model.ImgLink alt="Image">
                <div>
                    <h4 class="card-text">@Model.Name</h4>
                    <p class="card-text">Year: @Model.Year</p>
                    <p class="card-text">Number of Parts: @Model.NumParts</p>
                    <p class="card-text">Price: $@Model.Price</p>
                    <p class="card-text">Category: @Model.Category</p>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-info" asp-controller="Admin" asp-action="PEdit" asp-route-id="@Model.ProductId">Edit</a>
    <a class="btn btn-danger" asp-controller="Admin" asp-action="PDelete" asp-route-id="@Model.ProductId">Delete</a>
</div>






